{% extends 'base.login.html.twig' %}

{% block chjs %}<script src="{{ asset('js/change_backgroundpp.js') }}"></script>{% endblock %}

{% block title %}Reiniciar contrase침a{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center">
                    <img src="{{ asset('images/RBMCert.png') }}" alt="RBMCert" width="120" height="auto">
                    <h3>Reiniciar contrase침a</h3>
                </div>
                <div class="card-body">
                    {{ form_start(requestForm) }}
                        
                        {{ form_widget(requestForm.email) }}
                        {# <small>{{ form_help(requestForm.email) }}</small> #}
                        <small class="text-white">correo a donde ser치n enviadas las instrucciones para reiniciar la contrase침a</small>
                        <div class="text-center mt-3">
                            <button class="btn login_btn">Reiniciar</button>
                        </div>
                        {{ form_rest(requestForm) }}
                    {{ form_end(requestForm) }}    
                </div>
                <div class="form-error">
                    {{ form_errors(requestForm.email) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
